.viewport {
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.heading {
  flex-grow: 0;
  margin: 0;
  padding: 24px;
  text-align: center;
}

.content {
  flex-grow: 1;
  height: 0;
}
